.colorWhite{
    color: white!important;
}

.bgColorRebeccapurple{
    background-color: purple!important;
}

.marginTop5{
    margin-top: 15px;
}

.marginTop10{
    margin-top: 30px;
}

.marginTop15{
    margin-top: 45px;
}
